<mat-toolbar class="mat-nav" xmlns="http://www.w3.org/1999/html">
  <a *ngIf="this.authService.isLoggedIn" routerLink="/dashboard" routerLinkActive="active" class="app-title">
    <span>Expenser</span>
  </a>

  <a *ngIf="this.authService.isLoggedIn && !isExpensesRoute" routerLink="/expenses" routerLinkActive="active" class="nav-link">
    <span>Your expenses</span>
  </a>

  <button mat-button *ngIf="this.authService.isLoggedIn && isExpensesRoute" class="nav-link add-button" (click)="openExpenseAddEditForm()">
    <mat-icon>add</mat-icon>
    <span>Add expense</span>
  </button>

  <span class="example-spacer"></span>

  <ng-container *ngIf="this.authService.isLoggedIn">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="User Menu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/current">
        <mat-icon>person</mat-icon>
        <span>User Profile</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </ng-container>
</mat-toolbar>
<router-outlet></router-outlet>